
  @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


.clock{
    width: 500px;
    font-family: 'Share Tech Mono', monospace;
    color: white;
    text-align: center;
   
}